# third partied
.rvm
.gem
.rbenv

# don't track this!
.ssh

# histories
.*-history
.*_history
.lesshst

# caches
.viminfo
.zcompdump

# now, ignore things that are real files, 
# because they'll probably never be part of the repo
#
[0-9A-Za-z]*
