# already in .git elsewhere
.vim
.vimrc
# shouldn't be gitted
Applications
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
bin/
src/
.Trash

#others
.DS_Store
.ssh/id_dsa
.zsh_history
.zcompdump
.gnupg
.npm
.rvm
.gem
.rubinius_last_error
.passenger-enterprise
.dropbox
.viminfo
.python-eggs/
.gpg-agent-info
.*history
BTSync/
Creative Cloud Files/
Projects/
.CFUserTextEncoding
.Xauthority
.apdisk
.plexht/
.m2
.font*
.rnd
.cache
*cache*
VirtualBox VMs
node_modules
/.node-gyp
/.cache
/.local/share
/.rbenv
/.ansible/collections
/.heroku/node*
/.heroku/client
/.zsh_sessions/*.session
/.fnm/node-versions
